<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Create kwordz file server based on quarkus docker container named kwordz-file-server-quarkus. The container is deamon and automatically deleted when not running.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>docker create -e &quot;MYSQL_SERVICE_HOST=devkoms.com&quot; -e &quot;MYSQL_DATABASE=kwordz_file&quot; -e &quot;MYSQL_USER=kwordz&quot; -e &quot;MYSQL_PASSWORD=kwordz@2o2O&quot; -e &quot;files.directory=/opt/data/Partitions&quot; -v /opt/data/score:/opt/data --name kwordz-file-server-quarkus --rm -p 9101:8080 kwordz-file-server-quarkus:latest</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>