<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Create kwordz client angular using coreui template docker container named kwordz-client-angular-coreui-container. The container is deamon and automatically deleted when not running.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>docker create --name kwordz-client-angular-coreui-container --rm -p 9003:80 kwordz-client-angular-coreui-image:latest</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>