<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.7.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/devlopper/org.cyk.system.file.server.impl.quarkus.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/cyk_utility</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>for directory in &apos;jee-utility-__kernel__&apos; &apos;jee-utility-rest&apos; &apos;jee-utility-file&apos; &apos;jee-utility-mapping&apos; &apos;jee-utility-mapping-mapstruct&apos; &apos;jee-utility-persistence&apos; &apos;jee-utility-persistence-server&apos; &apos;jee-utility-business&apos; &apos;jee-utility-business-server&apos; &apos;jee-utility-service&apos; &apos;jee-utility-service-server&apos;
do
	${JENKINS_HOME}/maven/bin/mvn -f $directory/pom.xml clean install -N -Dmaven.test.skip=true
done</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>